body { 
 background-color: blueviolet;
 color:blue;
 font-family: 'trebuchet MS', 'Comic Sans MS', cursive
 margin:0;
  }

  header { 
    font-size: 60ps;
    padding: 6px;
    text-align: center;
    }
    
    h1 { 
 font-size: 30px;
 border-bottom: double 5px pink;
 text-aligt: center;
}

p { 
  font-size: 20px;
  text-align: center;
 }

 iframe, vídeo { 
    display: block;
    margin: 0 auto;
    width: 80x;
    max-width: 700px;
     }

